<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmeh.peal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MonthCalendar"
            android:configChanges="orientation"
            android:label="@string/title_activity_month_calendar"
            android:parentActivityName=".WeekCalendar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecipeBook"
            android:configChanges="orientation"
            android:label="@string/title_activity_recipe_book"
            android:parentActivityName=".WeekCalendar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DayView"
            android:configChanges="orientation"
            android:label="@string/title_activity_day_view"
            android:parentActivityName=".WeekCalendar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MealView"
            android:configChanges="orientation"
            android:label="@string/title_activity_meal_view"
            android:parentActivityName=".DayView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddFoodItems"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_food_items"
            android:parentActivityName=".MealView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShoppingList"
            android:configChanges="orientation"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".WeekCalendar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeekCalendar"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".AddFoodRecipe"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_food_recipe"
            android:parentActivityName=".RecipeBook"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmeh.peal.RecipeBook" />
        </activity>
        <activity
            android:name=".SingleItem"
            android:configChanges="orientation"
            android:label="@string/title_activity_single_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>